GH_STAGE_OFFICE=https://office-api-dev.gamble-hub.net
GH_STAGE_CLIENT=https://client-api-dev.gamble-hub.net
GH_TRANSFER=https://twalletvault.api.games-hub.net

GH_LOGIN=
GH_PASSWORD=
GH_USER_ID=
GH_SECRET_KEY=

GH_CALLBACK=https://our-domain.com/api/gamblehub/callback

GH_CURRENCY=TRY

GH_LANGUAGE=tr
